<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register Page</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="registerForm">
  <form action="" method="get" accept-charset="utf-8">
  I am: <select><option value="buyer">Buyer</option>
  <option value="breeder">Breeder</option>
    </select>
    <br>
    <br>
    <input type="text" name="" placeholder="UserName"><br>
    <input type="text" name="" placeholder="Password"><br>
    <input type="text" name="" placeholder="email address"><br>
    <input type="text" name="" placeholder="Phone Number"><br>
      <h4>Legal:</h4>
    <input type="text" name="" placeholder="First Name"><br>
    <input type="text" name="" placeholder="Last Name"><br>
    <input type="text" name="" placeholder="City"><br>
    <input type="text" name="" placeholder="State"><br>
    <input type="text" name="" placeholder="Zip Code"><br><br>
    <button type="submit">Register</button>
  </form>
  </div>
</body>
</html>
