<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login Page</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="loginForm">
  <form action="/auth" method="post" accept-charset="utf-8">
    <input type="text" name="user[username]" value="" placeholder="Username">
    <input type="password" name="user[password]" value="" placeholder="Password">
    <input type="submit" name="name" value="Log in">
  </form>
  </div>
</body>
</html>
